pom.xml
pom.xml.asc
*.jar
*.class
/node_modules/
/lib/
/classes/
/doc/build/
/resources/open_beat_control/version.edn
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# Local Netlify folder
.netlify
